<h1>HOTEL MEAN - Main Page</h1>

<img  src="img/stars-rating.png"
      alt='stars logo'
      class="img-25"/>

<h2>
  Welcome to this MEAN Application.
</h2>

<h3>Main objective</h3>
<img  src="img/AngularArchitectureWhite.png"
      alt="MVC Architectural Pattern"
      class="img-75"/>
<p>
  Use MEAN stack.
</p>
<p>
All users can access the site, and see details of a selected hotel, but only registered users can add reviews.
</p>

<h3>Features</h3>
<ul>
  <li>User validation, with token.</li>
  <li>User registration.</li>
  <li>Select a hotel to see its details.</li>
  <li>Add a review to a selected hotel, when user has been validated.</li>
  <li>All information, of hotels and users, is stored in mongodb.</li>
  <li>Use of:</li>
    <ul>
      <li>Templates.</li>
      <li>Factories.</li>
      <li>Controllers.</li>
      <li>Bootstrap, jquery.</li>
    </ul>
</ul>

<h3>Database</h3>
<p>
  MongoDB
</p>
<h3>Packages</h3>
<ul>
  <li><strong class="package-title">angular</strong>: is a development platform for building mobile and desktop web applications.</li>
  <li><strong class="package-title">angular-route</strong>: allows to user <strong class="special-char">$route</strong>, and it is used for deep-linking URLs to controllers and views (HTML partials). It watches <strong class="special-char">$location.url()</strong> and tries to map the path to an existing route definition.  <strong class="special-char">ngView</strong> is a directive that complements the $route service by including the rendered template of the current route into the main layout (index.html) file. Every time the current route changes, the included view changes with it according to the configuration of the $route service.</li>
  <li><strong class="package-title">body-parser</strong>: It returns a function that acts as middleware. The function listens for req.on(‘data’) and constructs req.body from the chunks of data it gets.</li>
  <li><strong class="package-title">bootstrap</strong>: most popular front-end framework for developing responsive.</li>
  <li><strong class="package-title">cordova</strong>:Apache Cordova allows for building native mobile applications using HTML, CSS and JavaScript. This tool helps with management of multi-platform Cordova applications as well as Cordova plugin integration.</li>
  <li><strong class="package-title">exec-plan</strong>: Provide the ability to run child process commands sequentially, with some fine-grained control, all while avoiding the dread pyramid of doom (i.e., callback indentation).</li>
  <li><strong class="package-title">express</strong>: Express is a minimal and flexible Node.js web application framework that provides a robust set of features for web and mobile applications.</li>
  <li><strong class="package-title">ionic</strong>: is a complete open-source SDK for hybrid mobile app development. Built on top of AngularJS and Apache Cordova, Ionic provides tools and services for developing hybrid mobile apps using Web technologies like CSS, HTML5, and Sass.</li>
  <li><strong class="package-title">jwt</strong>:JSON Web Token (JWT) is an open standard (RFC 7519) that defines a compact and self-contained way for securely transmitting information between parties as a JSON object. This information can be verified and trusted because it is digitally signed. JWTs can be signed using a secret (with the HMAC algorithm) or a public/private key pair using RSA.</li>
  <li><strong class="package-title">mocha</strong>: Mocha is a feature-rich JavaScript test framework running on Node.js and in the browser, making asynchronous testing simple and fun. Mocha tests run serially, allowing for flexible and accurate reporting, while mapping uncaught exceptions to the correct test cases.</li>
  <li><strong class="package-title">mongoose</strong>: is a Node.js library that provides MongoDB object mapping similar to ORM with a familiar interface within Node.js.</li>
  <li><strong class="package-title">path-exists</strong>: checking if a file exists before opening.</li>
</ul>
